.submitButton{
	border:none !important;
	outline: none !important;
	box-shadow: none !important;
	width: 100% !important;
	text-align: center !important;
	background-color: teal;
}
.progress{
	height: 40px !important;
}

.borderedDiv{
	height: fit-content;
}
.heading{
	color:teal;
}

input, textarea, mat-select{
	border-bottom:1px solid teal !important;
}
.seepassword{
	cursor: pointer !important;
	font-size: small;
}

::-webkit-scrollbar {
	width: 5px !important;
	height: 5px !important;
	background-color: #ccc !important;
}
::-webkit-scrollbar-thumb{
	background: teal !important;
	border-radius: 10px !important;
}
.profilePics{
	font-size: 8rem;
	color: teal;
	position: relative;
}
/* .infos{ */
	/* border-color: rgb(222, 227, 227) !important; */
	/* max-height: 80%;
	overflow: auto; */
/* } */
.infos div div{
	overflow: hidden;
}
.infoIcon{
	font-size: 2rem;
}
::ng-deep .snackBarSuccess{
	color: teal;
	bottom: 1rem;
	position: relative;
	text-align: center;
	background: #fff;
	border: 1px solid teal;
}
::ng-deep .snackBarDanger{
	color: red;
	bottom: 1rem;
	position: relative;
	text-align: center;
	background: #fff;
	border: 1px solid teal;
}
::ng-deep .snackBarWarning{
	color: yellow;
	bottom: 1rem;
	position: relative;
	text-align: center;
	background: #fff;
	border: 1px solid teal;
}
::ng-deep .mat-simple-snackbar-action{
	color: teal;
	font-weight: bold;
	border-radius: 3px;
	background-color: #00808027;
	border: none;
	outline: none;
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: teal;
}
::ng-deep .mat-progress-bar-buffer {
    background: #d1ecec;
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: teal;
}
.infoIcon img{
	user-select: none;
	-webkit-user-drag: none;
}
.status{
	font-size: 1.3rem !important;
}

/* .editOverlay{
	transition: ease-in-out 0.25s;
	position: absolute;
	background-color: #023b3b6f;
	display: none;
	font-size: 2rem;
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 0px;
}
.editOverlay:hover{
	transition: ease-in-out 0.25s;
	display: block !important;
} */
@keyframes subMain{
	from{opacity:0.3}
	to{opacity: 1;}
}

.adminSubMain{
	height: calc(100% - 60px);
	animation: subMain 1.5s;
	
}

.form-control{
	box-shadow: none !important;
	border-bottom: 1px solid #ccc !important;
}
.form-control:focus{
	border-color: teal !important;
	transition: ease-in-out 0.4s;
}