<mat-sidenav-container class="example-container">
	<mat-sidenav mode="center" opened>Sidenav content</mat-sidenav>
	<mat-sidenav-content>
		<p>test works!</p>
<mat-slider min="1" max="100" step="1" value="1" >Hello</mat-slider>

<div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-raised-button  color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
	<a mat-button target="_blank">Link</a>
	
	<button mat-mini-fab color="primary">
		<mat-icon>menu</mat-icon>
	  </button>
  </div>