@import "../../app.component.css";
.profilePics{
	cursor: pointer;
	
}
.ppc{
	width: 130px !important;
	height: 130px !important;

}

.profileTop{
	height: 200px;
	background-image: url('../../../assets/images/room.jpg');
	background-blend-mode: color-burn;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.53);
	background-repeat: no-repeat;
	background-position: center 50%;
}
.dropdown-menu{
	min-width:unset !important;
	padding:0 0 !important;
}