<div class="container-fluid bg-light">
	<div class="row imgRow p-5">
		<div class="col-6 my-auto text-white">
			<p class="display-4">Welcome to Likz Hotel</p>
			<p class="mt-3 mb-3">
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores voluptatum doloribus accusamus eaque unde! Nostrum fugiat error laboriosam molestiae vero nobis magnam dolore ratione, laudantium impedit alias officia? Illo, non?
			</p>
			<div class="btn-group">
				<button mat-button routerLink="/rooms" class="bookBut">Book a Room Now</button>
			</div>
		</div>
	</div>
</div>