<app-navbar></app-navbar>

<div class="pt-5 pt-md-0 mx-auto">
	<div class="inside mt-3">
		<h2 class="mt-3">Cleaning Request</h2>
		<table class=" table">
			<thead>
				<tr>
					<th class="border-top-0 border-bottom-0">#</th>
					<th class="border-top-0 border-bottom-0">service Time</th>
					<!-- <th>service Note</th> -->
					<th class="border-top-0 border-bottom-0">Parts</th>
					<th class="border-top-0 border-bottom-0">service status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let service of cleaningServiceHistory; let i=index">
					<td>{{i+1}}</td>
					<td>{{service.service_time}}</td>
					<!-- <td>{{service.service_note}}</td> -->
					<td>{{service.parts}}</td>
					<td>{{service.status}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <mat-paginator class="ml-auto" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
</div>