<app-navbar></app-navbar>
<div class="container-fluid">

	<div class="row mt-3 main p-sm-5">
		<div class="col-12">
			<h2>Available Rooms</h2>
		</div>
		<div class="col-6 col-sm-4 col-lg-3 p-2 p-md-3 p-lg-2 p-xl-3" *ngFor="let room of roomArray">
			<div class="rounded bg-light card">
				<div [class.imgR]="mobileQuery.matches" class="bg-white img card-img-top">
					<img [src]="imgUrl+room.room_picture" class="w-100 h-100 rounded-top" alt="room_picture">
				</div>
				
				<div class="p-3 bg-light nameDiv">
					Type: {{room.room_type}} <br/>
					Price per day: {{room.room_price}}
				</div>
				<!-- <div class="pl-3 pr-3 pb-3 bg-light buttonDiv w-100">
					<button mat-button (click)="book(room.room_id)" class="bookBut text-white w-100 mx-auto">Book</button>
				</div> -->
			</div>
		</div>
	</div>
</div>