
<app-navbar></app-navbar>

<div class=" pt-5 pt-md-0">
	<div class="inside mt-3">
		<h2>Orders</h2>
		<table class="table mt-2">
			<thead>
				<tr>
					<th class="border-top-0 border-bottom-0">#</th>
					<th class="border-top-0 border-bottom-0">Order Time</th>
					<!-- <th>Order Note</th> -->
					<th class="border-top-0 border-bottom-0">Food Name</th>
					<th class="border-top-0 border-bottom-0">QTY</th>
					<th class="border-top-0 border-bottom-0">Order status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let order of Orders; let i=index">
					<td>{{i+1}}</td>
					<td>{{order.order_time}}</td>
					<!-- <td>{{order.order_note}}</td> -->
					<td>{{order.food_name}}</td>
					<td>{{order.qty}}</td>
					<td>{{order.status}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>