<app-admin-top></app-admin-top>

<div class="row p-0 mx-auto">
	<div class="col-sm-6 mt-n3 mt-sm-0" [class.mx-auto]="mobileQuery.matches" >
		<!-- <mat-form-field class="ml-auto w-100" appearance="a">
			<mat-label class="text-dark">Filter</mat-label>
			<input class="pb-2" matInput (keyup)="filterStaff($event)" placeholder="Kitchen Staff" #input>
		</mat-form-field> -->
	</div>
	<div class="inside col-12">
		<table class="table" [class.table-responsive]="mobileQuery.matches">
			<thead>
				<tr>
					<th class="border-bottom-0 border-top-0">#</th>
					<th class="border-bottom-0 border-top-0">User Name</th>
					<th class="border-bottom-0 border-top-0">Food Name</th>
					<th class="border-bottom-0 border-top-0">Status</th>
					<th class="border-bottom-0 border-top-0">Order Time</th>
					<th class="border-bottom-0 border-top-0"></th>
				</tr>
			</thead>
			<tbody *ngIf="ordersArray">
				<tr *ngFor="let order of ordersArray; let i=index">
					<td (click)="viewmore(order)">{{i+1}}</td>
					<td (click)="viewmore(order)">{{order.first_name}} {{order.last_name}}</td>
					<td (click)="viewmore(order)">{{order.food_name}}</td>
					<td (click)="viewmore(order)">{{order.status}}</td>
					<td (click)="viewmore(order)">{{order.order_time}}</td>
					<td>
						<button *ngIf="order.status == 'not_taken'" mat-stroked-button (click)='attendto(order)'>Attend to</button>
					</td>
				</tr>
			</tbody>
		</table>
		<mat-progress-bar mode="indeterminate" *ngIf="!ordersArray"></mat-progress-bar>
	</div>
	<!-- <mat-paginator class="ml-auto" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
</div>