<div class="container-fluid p-5 h-100">
	<!-- <img src="../../../assets/images/room.jpg" alt=""> -->
	<div class="row h-100">
		<div class="p-3 col-sm-6 dialogue col-lg-5 uto m-auto rounded bg-white" role="group" aria-label="Button group">
			<div class="mb-3">
				Kindly Login to access the HR profile Page
			</div>
			<button mat-stroked-button class="mr-2" routerLink='/main-admin/login'>Admin Login</button>
			<button mat-stroked-button class="mr-2" routerLink='/hr/login'>HR Login</button>
		</div>
	</div>
</div>