<app-navbar></app-navbar>


<div class="row pt-5 pt-md-0 mx-auto">
	<div class="inside col-12">
		<h2  class="mt-3">Complaints</h2>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>service Time</th>
					<th>service Note</th>
					<!-- <th>Food Name</th> -->
					<!-- <th>QTY</th> -->
					<th>service status</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let service of customerCareServiceRequests; let i=index">
					<td>{{i+1}}</td>
					<td>{{service.careservice_time}}</td>
					<td>{{service.careservice_note}}</td>
					<!-- <td>{{service.food_name}}</td> -->
					<!-- <td>{{service.qty}}</td> -->
					<td>{{service.status}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <mat-paginator class="ml-auto" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
</div>