<form [formGroup]="loginDetails" class=" bg-light pt-5 h-100 w-100">
	<div class="pt-4 bg-white pb-4 border rounded col-11 col-sm-8 mt-5 mx-auto col-md-6 col-lg-5 col-xl-4 row borderedDiv">
		<div class="col-sm-11 mx-auto">
			<h2 class="heading">Human Resource ( HR ) Login</h2>
		</div>
		<mat-form-field appearance="a" class="mt-n2 col-sm-11 mx-auto">
			<mat-label for="email" class="text-dark">Email</mat-label>
			<input required autocomplete="email" id="email" class="pb-2" type="email" formControlName="email" matInput>
			<div *ngIf="form.email.errors?.required && loginDetails.get('email')?.touched" class="mb-n3 mt-1 error small text-danger">Email field can't be empty</div>
			<div *ngIf="form.email.errors?.email && loginDetails.get('email')?.touched" class="mb-n3 mt-1 error small text-danger">Must enter a valid email</div>
		</mat-form-field>
		<mat-form-field appearance="a" class="mt-n2 col-sm-11 mx-auto">
			<mat-label for="password" class="text-dark">Password</mat-label>
			<input required autocomplete="new-password" class="pb-2 pr-3" id="password" type={{type}} formControlName="password" matInput>
			<span class="btn btn-light p-1 rounded-circle seepassword mr-n2 ml-n3 float-right" matSuffix (click)="changetype()">
				<mat-icon  class="fa {{type == 'password' ? 'fa-eye' : 'fa-eye-slash'}}"></mat-icon>
			</span>
			<div *ngIf="form.password.errors?.required && loginDetails.get('password')?.touched" class="mb-n3 mt-1 error small text-danger">Password field can't be empty</div>
		</mat-form-field>
		<div class="col-sm-11 mx-auto">
			<div class="progress mt-3">
				<button [disabled]="loginDetails.invalid" class="btn text-white h-100 w-100 submitButton" [class.progress-bar-animated]="loading"  [class.progress-bar-striped]="loading" type="submit" (click)="login()">Login</button>
			</div>
		</div>
	</div>
</form>