
<app-admin-top></app-admin-top>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div *ngIf="!loading" class="adminSubMain row mx-auto">
	<div class=" row pb-md-5 infos m-auto">

		<div *ngIf="!loading" class="col-12 row p-0">
			<span class="col-md-5 mx-auto mb-3 mt-4 fa fa-user-circle profilePics" *ngIf="!imgURL" (click)="profilePics.click()"></span>
			<span class="col-md-5 mx-auto mb-3 mt-4 profilePics" *ngIf="imgURL" (click)="profilePics.click()">
				<img [src]="imgURL" class="rounded-circle ppc w-100 h-100" *ngIf="imgURL">
			</span>
			<input type="file" class="d-none" (change)="changePicture($event)" #profilePics>
		<div class="col-md-5 mx-auto"></div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-user-o"></span>
				<span  class="my-auto ml-2">{{mainAdminInfo.last_name}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-user-o"></span>
				<span class="my-auto ml-2">{{mainAdminInfo.first_name}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-envelope-o"></span>
				<span class="my-auto ml-2">{{mainAdminInfo.email}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-phone"></span>
				<span class="my-auto ml-2">{{mainAdminInfo.phone_number}}</span>
			</div>
		</div>
		</div>
	</div>
</div>