<div>
	<div class="pl-2 pl-md-0 pt-2 mt-md-0 ml-md-5 mr-md-5">
		<h2>Staff Profile</h2>
	</div>
	<mat-progress-bar mode="indeterminate" *ngIf="!staff"></mat-progress-bar>

	<div *ngIf="staff" class="border-bottom border-top mt-md-n1 pt-2 row m-2 pb-1 infos m-md-3">
		<div class="col-md-7 col-lg-6 col-sm-8 mx-auto mb-2 d-flex">
			<span class="fa fa-user-circle profilePics"></span>
			<div class="ml-3 my-auto">
				<span class="state">Stage : <b>{{staff.stage}}</b></span> <br>
				<span class="state">Status : <b>{{staff.status}}</b></span>
			</div>
		</div>	
		<div class="col-md-5 mx-auto"></div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-user-o"></span>
				<span class="my-auto ml-2 ">{{staff.first_name}} {{staff.last_name}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-phone"></span>
				<span class="my-auto ml-2">{{staff.phone_number}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-envelope-o"></span>
				<span class="my-auto ml-2">{{staff.email}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 p-3 rounded">
				<span class="infoIcon fa fa-calendar-o"></span>
				<span class="my-auto ml-2">{{staff.date_of_birth}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 p-3 rounded">
				<span class="infoIcon fa fa-circle-o"></span>
				<span class="my-auto ml-2">{{staff.unit_name}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 p-3 rounded">
				<span class=" fa"><img src="https://img.icons8.com/pastel-glyph/30/000000/date-to--v2.png"/></span>
				<span class="my-auto ml-2">{{staff.date_employed}}</span>
			</div>
		</div>
	</div>
</div>