<div class="container-fluid">
	<div class="row fixed-top">
		<nav class="col-sm-11 mx-auto bg-transparent navbar navbar-expand-lg navbar-dark">
			<a class="navbar-brand ml-2" routerLink="/home">LIKZ HOTEL</a>
			<button mat-button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
				<mat-icon>menu</mat-icon>
			</button>
			<div id="my-nav" class="collapse mr-2 ml-2 pb-2 navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item" routerLinkActive="active">
						<button mat-button class="pl-1 pr-1 mr-2 nav-link small" routerLink="/home">
							<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
						</button>
					</li>
					<li class="nav-item" routerLinkActive="active">
						<button mat-button class="pl-1 pr-1 mr-2 nav-link" routerLink="rooms">Book a room</button>
					</li>
				
					<li class="nav-item" routerLinkActive="active">
						<button mat-button class="pl-1 pr-1 mr-2 nav-link" routerLink="user/signup">Sign Up</button>
					</li>
					<li class="nav-item" routerLinkActive="active">
						<button mat-button class="pl-1 pr-1 mr-2 nav-link" routerLink="user/login">Sign In</button>
					</li>
					
					<li class="nav-item" routerLinkActive="active">
						<button matTooltip="Profile" matTooltipPosition="below" aria-label="Profile" mat-button class="pl-1 pr-1 mr-2 nav-link" routerLink="user/profile/2">
							<mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
						</button>
					</li>
				</ul>
			</div>
		</nav>
		
		
		
		
	</div>
</div>