.row{
	background-color: teal !important;
	/* width: 100vw; */
}
.navbar-toggler{
	border: none !important;
	outline: none !important;
	background-color:teal;
	color:#fff;
}
button{
	outline: none !important;
}
.navbar-nav{
	flex-direction: unset !important;
}
.navbar-collapse{
	overflow-x: auto !important;
}
::-webkit-scrollbar-thumb{
	background-color: #ccc !important;
}
::-webkit-scrollbar{
	width: 0px !important;
	height: 0px !important;
}
