.submitButton{
	border:none !important;
	outline: none !important;
	box-shadow: none !important;
	width: 100% !important;
	text-align: center !important;
	background-color: teal;
}
.progress{
	height: 40px !important;
}

.borderedDiv{
	height: fit-content;
}
.heading{
	color:teal;
}

input, mat-select{
	border-bottom:1px solid teal !important;
}
.seepassword{
	cursor: pointer !important;
	font-size: small;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb{
	background: teal !important;
	border-radius: 10px !important;
}
.profilePics{
	font-size: 8rem;
	color: teal;
}
.infos{
	border-color: rgb(222, 227, 227) !important;
	/* max-height: 80%;
	overflow: auto; */
}
.infos div div{
	overflow: hidden;
}
.infoIcon{
	font-size: 2rem;
}
::ng-deep .snackBarSuccess{
	color: teal;
	bottom: 1rem;
	position: relative;
	text-align: center;
	background: #fff;
	border: 1px solid teal;
}
::ng-deep .snackBarDanger{
	color: red;
	bottom: 1rem;
	position: relative;
	text-align: center;
	background: #fff;
	border: 1px solid teal;
}
::ng-deep .snackBarWarning{
	color: yellow;
	bottom: 1rem;
	position: relative;
	text-align: center;
	background: #fff;
	border: 1px solid teal;
}
::ng-deep .mat-simple-snackbar-action{
	color: teal;
	font-weight: bold;
	border-radius: 3px;
	background-color: #00808027;
	border: none;
	outline: none;
}
::ng-deep .mat-progress-bar-fill::after {
    background-color: teal;
}
::ng-deep .mat-progress-bar-buffer {
    background: #d1ecec;
}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: teal;
}
.infoIcon img{
	user-select: none;
	width: 2rem;
}
.status{
	font-size: 1.3rem !important;
}