<app-navbar></app-navbar>
<router-outlet></router-outlet>






<div *ngIf="status" class="container-fluid h-100 w-100 bg-light pt-5">
	<div class="row mt-4 profileRow">
		<div class="col-11 mx-auto row h-100 w-100">
			<mat-drawer-container class="h-100 w-100 example-container" autosize>
				<mat-drawer #drawer class="border-left bg-light sidenav" [opened]="mobileQuery.matches ? false : true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
				  <button class="menus w-100 btn btn-light text-left" routerLink="/main-admin" routerLinkActive="active">Profile</button>
				  <button class="menus w-100 btn btn-light text-left" routerLink="/manager-registration/1" routerLinkActive="active">Register a HRM</button>
				  <button class="menus w-100 btn btn-light text-left" data-toggle="collapse" data-target="#staffs">List of staffs</button>
				  <div class="collapse" id="staffs">
					  <button class="menus pl-4 btn-sm small w-100 btn btn-light text-left" routerLink="/staff" routerLinkActive="active">- Kitchen Staffs</button>
					  <button class="menus pl-4 btn-sm small w-100 btn btn-light text-left" routerLink="/staff" routerLinkActive="active">- Cleaning Service Staff</button>
					  <button class="menus pl-4 btn-sm small w-100 btn btn-light text-left" routerLink="/staff" routerLinkActive="active">- Customer care Service Staff</button>
				  </div>
				  <button class="menus w-100 btn btn-light text-left" routerLink="/sub-m anagers" routerLinkActive="active">HRM</button>
				  <button class="menus w-100 btn btn-light text-left" routerLink="/sub-managers" routerLinkActive="active">Hotel Manager</button>
				  <button class="menus w-100 btn btn-light text-left" routerLink="/sub-managers" routerLinkActive="active">Sub Managers</button>
				  <button class="menus w-100 btn btn-light text-left">Logout <span class="fa fa-sign-out ml-2"></span></button>
				</mat-drawer>
			  
				<div class="sidenav-content bg-white w-100 h-100 p-2">
					<button class="mr-3 d-inline-block small btn-sm menuBut btn-light rounded btn"   (click)="drawer.toggle()">
						<span class="fa fa-bars"></span>
					</button>
					<router-outlet></router-outlet>
				</div>
			</mat-drawer-container>
		</div>
	</div>
</div>