.submitButton{
	border:none !important;
	outline: none !important;
	box-shadow: none !important;
	width: 100% !important;
	text-align: center !important;
	background-color: teal;
}
.progress{
	height: 40px !important;
}

.borderedDiv{
	height: fit-content;
}
.heading{
	color:teal;
}

input, mat-select{
	border-bottom:1px solid teal !important;
}
.seepassword{
	cursor: pointer !important;
	font-size: small;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-thumb{
	background: teal !important;
	border-radius: 10px !important;
}
.profilePics{
	font-size: 8rem;
	color: teal;
}
.infos{
	border-color: rgb(222, 227, 227) !important;
	/* max-height: 80%;
	overflow: auto; */
}
.infos div div{
	overflow: hidden;
}
.infoIcon{
	font-size: 2rem;
}
