.row{
	background-color: teal !important;
	/* width: 100vw; */
}
.navbar-toggler{
	border: none !important;
	outline: none !important;
	background-color:teal;
	color:#fff;
}
button{
	outline: none !important;
}