<app-admin-top></app-admin-top>

<div>

	<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
	<div *ngIf="!loading" class="border-bottom border-top mt-md-n1 pt-4 row m-2 infos">

		<div class="col-md-5 mx-auto mb-3"> 
			<span class=" fa fa-user-circle profilePics" *ngIf="!imgURL" (click)="profilePics.click()"></span>
			<span class="profilePics" *ngIf="imgURL" (click)="profilePics.click()">
				<img [src]="imgURL" class="rounded-circle ppc w-100 h-100" *ngIf="imgURL">
			</span>
			<input type="file" class="d-none" (change)="changePicture($event)" #profilePics>
			<span class="ml-3 status">Status:<b class="{{managerInfo.status == 'formal' ? 'text-danger' : ''}}">{{managerInfo.status}}</b></span>
		</div>	
		<div class="col-md-5 mx-auto"></div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-user-o"></span>
				<span class="my-auto ml-2">{{managerInfo.first_name}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-user-o"></span>
				<span class="my-auto ml-2">{{managerInfo.last_name}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-calendar-o"></span>
				<span class="my-auto ml-2">{{managerInfo.date_of_birth}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa"><img src="https://img.icons8.com/pastel-glyph/30/000000/date-to--v2.png"/></span>
				<span class="my-auto ml-2">{{managerInfo.date_employed}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-envelope-o"></span>
				<span class="my-auto ml-2">{{managerInfo.email}}</span>
			</div>
		</div>
		<div class="d-flex mx-auto col-md-5 p-2">
			<div class="border w-100 d-flex p-3 rounded">
				<span class="infoIcon fa fa-phone"></span>
				<span class="my-auto ml-2">{{managerInfo.phone_number}}</span>
			</div>
		</div>
	</div>
</div>