@import "../../app.component.css";

.menuBut{
	outline: none !important;
	box-shadow: none !important;
}
.menus{
	outline: none !important;
	box-shadow: none !important;
	border-radius: 0% !important;
	height: 50px;
}
.sidenav{
	height: 100%;
	overflow-y: auto;
	max-width: 200px;
}

.example-container{
	border: 1px solid teal;
	border-radius: 4px;
}
.profileRow{
	height: 90%;
}



.menus{
	outline: none !important;
	box-shadow: none !important;
	border-radius: 0% !important;
	/* height: 50px; */
	font-size: small;
	border: none;
}
