<app-admin-top></app-admin-top>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="row w-100 adminSubMain mx-auto">
	<div class="col-12 p-3">
		<!-- <input class="form-control " [(ngModel)]='searchText' placeholder="Search..." #input> -->
	</div>
	<div class="col-12 p-3">
		<table *ngIf="!loading" class="table">
			<thead>
				<tr>
					<th class="border-bottom-0 border-top-0">#</th>
					<th class="border-bottom-0 border-top-0">Name</th>
					<th class="border-bottom-0 border-top-0">Phone Number</th>
					<th class="border-bottom-0 border-top-0">Unit</th>
					<th class="border-bottom-0 border-top-0"></th>
					<th class="border-bottom-0 border-top-0"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let staff of staffs | staffsearch:searchText">
					<td class="pt-4 pb-4"></td>
					<td class="pt-4 pb-4">{{staff.first_name}} {{staff.last_name}}</td>
					<td class="pt-4 pb-4">{{staff.phone_number}}</td>
					<td class="pt-4 pb-4">{{staff.unit_name}}</td>
					<td class="pt-4 pb-4 staffLink" routerLink="/admin/staff-profile/{{staff.staff_id}}">View more</td>
					<td class="pt-4 pb-4 border-left dropdown staffLink fa fa-ellipsis-v " data-toggle="dropdown" id="triggerId" >
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
							<button *ngIf="staff.stage == 'staff'" (click)="changeStage(staff.staff_id)" class="w-100 text-left" mat-button>Make this staff the manager of {{staff.unit_name}} unit</button>
							<button *ngIf="staff.status == 'current'" (click)="openDialog(staff)" class="ml-auto w-100 text-left" mat-button>Remove from current staff List</button>
							<button *ngIf="staff.stage == 'manager'" (click)="changeStage(staff.staff_id)" class="w-100 text-left" mat-button>Remove this staff as manager of {{staff.unit_name}} unit</button>
							<button *ngIf="staff.status == 'formal'" (click)="openDialog(staff)" class="ml-auto w-100 text-left" mat-button>Add to current staff</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <mat-paginator class="ml-auto" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
</div>