
<form [formGroup]="mainAdminSignup" class="bg-light pt-5 h-100 w-100">
	<div class="pt-4 pb-4 bg-white border rounded col-11 col-sm-8 mt-5 mx-auto col-md-6 col-lg-5 row borderedDiv">
		<div class="col-sm-11 mx-auto">
			<h2 class="heading">Admin Registration</h2>
		</div>
		<div class="text-center mb-3 text-danger col-11 mx-auto small">
			{{adminExistError}}
		</div>
		<mat-form-field appearance="a" class="mt-n2 col-sm-5 mx-auto">
			<mat-label for="first_name" class="text-dark">First Name</mat-label>
			<input id="first_name" type="text" class="input pb-2" formControlName="first_name" matInput>
			<div *ngIf="form.first_name.errors?.required && mainAdminSignup.get('first_name')?.touched" class="mb-n3 mt-1 error small text-danger">First Name field can't be empty</div>
		</mat-form-field>
		<mat-form-field appearance="a" class="mt-n2 col-sm-5 mx-auto">
			<mat-label for="last_name" class="text-dark">Last Name</mat-label>
			<input required id="last_name" type="text" class="pb-2" formControlName="last_name" matInput>
			<div *ngIf="form.last_name.errors?.required && mainAdminSignup.get('last_name')?.touched" class="mb-n3 mt-1 error small text-danger">Last Name field can't be empty</div>
		</mat-form-field>
		<mat-form-field appearance="a" class="mt-n2 col-sm-11 mx-auto">
			<mat-label for="phone_number" class="text-dark">Phone Number</mat-label>
			<input required id="phone_number" type="text" class="pb-2" formControlName="phone_number" matInput>
			<div *ngIf="form.phone_number.errors?.required && mainAdminSignup.get('phone_number')?.touched" class="mb-n3 mt-1 error small text-danger">Phone Number field can't be empty</div>
		</mat-form-field>
		<mat-form-field appearance="a" class="mt-n2 col-sm-11 mx-auto">
			<mat-label for="email" class="text-dark">Email</mat-label>
			<input required autocomplete="email" id="email" class="pb-2" type="email" formControlName="email" matInput>
			<div *ngIf="form.email.errors?.required && mainAdminSignup.get('email')?.touched" class="mb-n3 mt-1 error small text-danger">Email field can't be empty</div>
			<div *ngIf="form.email.errors?.email && mainAdminSignup.get('email')?.touched" class="mb-n3 mt-1 error small text-danger">Must enter a valid email</div>
		</mat-form-field>
		<mat-form-field appearance="a" class="mt-n2 col-sm-5 mx-auto">
			<mat-label for="password" class="text-dark">Password</mat-label>
			<input required autocomplete="new-password" class="pb-2 pr-3" id="password" type={{type}} formControlName="password" matInput>
			<span class="btn btn-light p-1 rounded-circle seepassword mr-n2 ml-n3 float-right" matSuffix (click)="changetype()">
				<mat-icon  class="fa {{type == 'password' ? 'fa-eye' : 'fa-eye-slash'}}"></mat-icon>
			</span>
			<div *ngIf="form.password.errors?.required && mainAdminSignup.get('password')?.touched" class="mb-n3 mt-1 error small text-danger">Password field can't be empty</div>
			<div *ngIf="mainAdminSignup.get('password').errors?.minlength && mainAdminSignup.get('password')?.touched" class="mb-n3 mt-1 error small text-danger">Password must be at least 6 characters</div>
		</mat-form-field>
		<mat-form-field appearance="a" class="mt-n2 col-sm-5 mx-auto">
			<mat-label for="confirm_password" class="text-dark">Confirm Password</mat-label>
			<input required autocomplete="new-password" class="pb-2 pr-3" id="confirm_password" type="{{type2}}" formControlName="confirm_password" matInput>
			<span class="btn btn-light p-1 rounded-circle seepassword mr-n2 ml-n3 float-right" matSuffix (click)="changetype2()">
				<mat-icon  class="fa {{type2 == 'password' ? 'fa-eye' : 'fa-eye-slash'}}"></mat-icon>
			</span>
			<div *ngIf="form.confirm_password.errors?.confirm_password &&  form.confirm_password?.dirty" class="mb-n3 mt-1 error small text-danger">Password does not match</div>
			<div *ngIf="form.confirm_password.errors?.required && mainAdminSignup.get('confirm_password')?.touched" class="mb-n3 mt-1 error small text-danger">Confirm Passowrd field can't be empty</div>
		</mat-form-field>
		<div class="col-sm-11 mx-auto">
			<div class="progress mt-3">
				<button [disabled]="loading" class="btn text-white h-100 w-100 submitButton" [class.progress-bar-animated]="loading"  [class.progress-bar-striped]="loading" type="submit" (click)="register()">Register</button>
			</div>
		</div>
		<div class="small col-sm-11 mx-auto mt-2 text-right">
			<span>Have an Account? <a class="font-weight-bold" routerLink="/main-admin/login">Login</a></span>
		</div>
	</div>
</form>

