<form [formGroup]="foodDetails" class="m-auto">
	<div class="bg-white p-0 pb-4 border rounded col-11 col-sm-10 mt-5 mx-auto col-md-8 col-lg-5 row borderedDiv">
		<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
		<div class="col-sm-11 mt-4 mx-auto">
			<h2 class="heading">Add New Food</h2>
		</div>
		<mat-form-field appearance="a" class="mt-n2 col-sm-11 mx-auto">
			<mat-label for="name" class="text-dark">Food Name</mat-label>
			<input required autocomplete="name" id="name" class="pb-2" formControlName="food_name" matInput>
			<div *ngIf="foodDetails.get('food_name').errors?.required && foodDetails.get('food_name')?.touched" class="mb-n3 mt-1 error small text-danger">Field can not be empty</div>
		</mat-form-field>
		<div for="name" class="text-dark col-sm-11 mx-auto">Available hours in 24 Hours </div>
		<mat-form-field appearance="a" class="mt-n2 col-sm-5 mx-auto">
			<input required autocomplete="name" type="number" maxlength="2" min="0" max="24" placeholder="From" id="name" class="pb-2" formControlName="from" matInput>
			<div *ngIf="foodDetails.get('from').errors?.required && foodDetails.get('from')?.touched" class="mb-n3 mt-1 error small text-danger">Field can not be empty</div>
			<div *ngIf="foodDetails.get('from').errors?.max && foodDetails.get('from')?.dirty" class="mb-n3 mt-1 error small text-danger">Hours can not be greater than 24</div>
			<div *ngIf="foodDetails.get('from').errors?.min && foodDetails.get('from')?.dirty" class="mb-n3 mt-1 error small text-danger">Hours can not be less than zero</div>
		</mat-form-field>
		<mat-form-field appearance="a" class="mt-n2 col-sm-5 mx-auto">
			<input required autocomplete="name" type="number"  maxlength="2" min="0" max="24"  placeholder="To" id="name" class="pb-2" formControlName="to" matInput>
			<div *ngIf="foodDetails.get('to').errors?.required && foodDetails.get('to')?.touched" class="mb-n3 mt-1 error small text-danger">Field can not be empty</div>
			<div *ngIf="foodDetails.get('to').errors?.max && foodDetails.get('to')?.dirty" class="mb-n3 mt-1 error small text-danger">Hours can not be greater than 24</div>
			<div *ngIf="foodDetails.get('to').errors?.min && foodDetails.get('to')?.dirty" class="mb-n3 mt-1 error small text-danger">Hours can not be less than zero</div>
		</mat-form-field>
		<div class="small col-sm-11 mx-auto">Available for {{hours()}} Hours <span *ngIf="hours() < 0" class="text-danger">( Available hours can not be negative )</span></div>
		<input class="pb-2 pr-3 d-none" id="pics" #pics (change)="choose($event)" type="file" formControlName="food_picture">
		<div class="col-sm-11 mx-auto">
			<button (click)="pics.click()" mat-stroked-button class="w-100 chooseBut">{{statusText}}</button>
		</div>
		<div class="col-sm-11 mx-auto">
			<div class="progress mt-3">
				<button mat-button [disabled]="foodDetails.invalid" class="btn text-white h-100 w-100 submitButton" type="submit" (click)="add()">Add</button>
			</div>
		</div>
	</div>
</form>