
<app-admin-top></app-admin-top>
<mat-progress-bar mode="indeterminate" *ngIf="!customerCareServiceRequests"></mat-progress-bar>


<div class="w-100 row mx-auto adminSubMain">
	<div class="col-12 p-3">
		<!-- <input class="form-control " [(ngModel)]='searchText' placeholder="Search..." #input> -->
	</div>
	<div class="inside col-12">
		<table class="table table-hover" [class.table-responsive]="mobileQuery.matches">
			<thead>
				<tr>
					<th class="border-bottom-0 border-top-0">#</th>
					<th class="border-bottom-0 border-top-0">User Full Name</th>
					<th class="border-bottom-0 border-top-0">Service type</th>
					<th class="border-bottom-0 border-top-0">Status</th>
					<th class="border-bottom-0 border-top-0">Request Time</th>
					<th class="border-bottom-0 border-top-0"></th>
				</tr>
			</thead>
			<tbody>
				<tr  class="tr" *ngFor="let request of customerCareServiceRequests; let i=index">
					<td style="cursor: pointer;" (click)="viewmore(request)">{{i+1}}</td>
					<td style="cursor: pointer;" (click)="viewmore(request)">{{request.first_name}} {{request.last_name}}</td>
					<td style="cursor: pointer;" (click)="viewmore(request)">{{request.type}}</td>
					<td style="cursor: pointer;" (click)="viewmore(request)">{{request.status}}</td>
					<td style="cursor: pointer;" (click)="viewmore(request)">{{request.careservice_time}}</td>
					<td>
						<button *ngIf="request.status == 'not_taken'" (click)="attendto(request.careservice_id)" mat-stroked-button>Attend to</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <mat-paginator class="ml-auto" [pageSizeOptions]="[5, 10, 20]"></mat-paginator> -->
</div>