@import "../../app.component.css";
.big{
	height: fit-content !important;
	/* background-color: teal; */
}
.ImgDiv{
	background-image: url('../../../assets/images/room.jpg');
	background-color: rgba(0, 0, 0, 0.598);
	background-size: cover;
	background-blend-mode: color-burn;
}
.detailsDiv{
	height: 240px;
	overflow: auto;
}
.headingDiv{
	height: fit-content;
}